/* css cho left-menu1 */
.left-menu1 {
    display: flex;
    padding-top: 40px;
    padding-left: 20px;
}
.left-menu1 a { 
    font-size: 20px;
    font-weight: bold;
    font-family: 'GeometricExtraBold', sans-serif;
}
.left-menu1-a2 {
    color: black;
}
.left-menu1-a1 {
    color: rgb(179, 177, 177);
}
.left-menu1 a:hover {
    color:black;
}
/* css cho left-menu2 */
.left-menu2 ul {
    list-style: none;
    padding-top: 15px;
    
}
.left-menu2 ul li a {
    color: black;
    font-size: 16px;
    font-family: 'NunitoSanRegular', sans-serif;
}
.left-menu2 ul li {
    line-height: 40px;
    padding-left: 20px;
    width: 240px;
}
.left-menu2 ul li:hover {
    background-color: #F1F1F1;
}

.left-menu2 a:active {
    font-weight: bold;
}
