.left-online-only {
    font-weight: bold;
}

.online {
    width: 100%;
    display: flex;
    margin-top: 40px;
    justify-content: space-between;
    align-items: flex-start;
    flex-wrap: wrap;
    margin: 30px 0;
}
.online img {
    width: 100%;
}
/* .shirt2-right,
.shirt2-right,
.footwear3-right {
    width: 30%;
    margin-bottom: 30px;
    position: relative;
} */
.product-information {
    width: 30%;
    margin-bottom: 40px;
}
/* hover cho item-img */
.item-img {
    position: relative;
    display: inline-block;
}

.hover-img1 {
    width: 100%; 
}

.hover-img2 {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: auto;
    opacity: 0; 
    transition: opacity 0.3s; 
}

.bt {
    position: absolute;
    top: 91.5%;
    left: 50%;
    transform: translate(-50%, -50%); 
    background-color: orangered; 
    color: #fff; 
    padding: 10px 20px; 
    border-radius: 5px; 
    opacity: 0; 
    transition: opacity 0.3s; 
}
.bt p {
    font-family: 'GeomeExtraBold',sans-serif;
}

.item-img:hover .hover-img2 {
    opacity: 1; /* Hiển thị img2 khi hover */
}

.item-img:hover .bt {
    opacity: 1; /* Hiển thị chữ "MUA NGAY" khi hover */
}

/* css cho thông tin sản phẩm */
.infor {
    text-align: center;
    margin-top: 20px;
}
.infor p {
    font-size: 17px;
    font-family: 'NunitoSanRengular',sans-serif;
    margin-top: 10px;
}
.infor a {
    color: black;
    font-size: 18px;
    font-weight: bold;
    font-family: 'NunitoSanRengular',sans-serif;
}
.dashed-shirt {
    border: 1px dashed gray;
    margin-top: 15px;
    margin-bottom: 15px;
}
.infor h4 {
    font-family: 'NunitoSanRengular',sans-serif;
    color: orangered;
    font-size: 16px;
}
/* css cho sản phẩm hết hàng và limited */
.background-out-of-stock {
    background-color: #706F6D;
    position: absolute;
    opacity: 0.5;
    top: 0;
    left: 0;
    width: 100%;
    height: 98.5%;
}
.out-of-stock {
    position: absolute;
    color: white;
    top: 50%;
    left: 35%;
    font-size: 20px;
    font-family: 'NunitoSanRengular',sans-serif;
    font-weight: bold;
}
.limited {
    position: absolute;
    top: 10%;
    left: 0;
    background-color: #004E9B;
    width: 55%;
}
.limited p {
    border: 1px;
    font-family: 'GeomeExtraBold',sans-serif;
    font-weight: bold;
    color: white;
    font-style: italic;
    text-align: center;
    padding-top: 6px;
    padding-bottom: 6px;
}
.Online-Only {
    position: absolute;
    top: 10%;
    left: 0;
    background-color: #303030;
    width: 55%;
}
.Online-Only p {
    border: 1px;
    font-family: 'GeomeExtraBold',sans-serif;
    font-weight: bold;
    color: white;
    font-style: italic;
    text-align: center;
    padding-top: 6px;
    padding-bottom: 6px;
}
.sale-infor {
    display: flex;
    justify-content: center;
}
.sale-infor p {
    padding-right: 10px;
}
