
/* css cho header */
.header {
    display: flex;
    margin-top: 20px;  

}
.logo1 {
    margin-left: 150px;
    margin-right: 160px;
}
.menu-header {
    display: flex;
    padding-top: 60px;
}

.caret-header {
    border: 1px solid gray;
    height: 20px;
    margin-left: 20px;
    margin-right: 20px;
}
.menu-header a {
    color: black;
    font-size: 20px;
    font-family: 'GeometricExtraBold', sans-serif;
    font-weight: bold;
}
.logo2 {
    margin-top: 40px;
    margin-right: 180px;
}
.find-header {
    margin-top: 40px;
    position: relative;
}

input {
    width: 200px; 
    height: 30px;
    padding-left: 40px;
    border: 1px solid gray;
}

.icon-find {
    position: absolute; 
    width: 19px;
    height: auto;
    top: 10%;
    left: 7px;
    z-index: 2;
}
/* hover cho menu-header */
.menu-header a:hover {
    color: orangered;
}
/* hover cho san pham */
.hover-san-pham {
    position: absolute;
    display: flex;
    background-color: #4C4C4C;
    display: none;
    top: 19%;
    left: 0;
}
.hover-san-pham img {
    width: 100%;
    opacity: 0.5;
}
.hover-san-pham a {
    margin: 40px;
}
.hover-san-pham p {
    color: white;
    font-size: 20px;
    text-align: center;
    padding-top: 10px;
    font-family: 'GeometricExtraBold',sans-serif;
    opacity: 0.8;
}
.drop-down1:hover .hover-san-pham {
    display: flex;
}
.drop-down1 img:hover {
    opacity: 1;
}

/* hover cho Nam và Nữ */
.slogan p {
    color: white;
    font-size: 18px;
    font-family: 'GeometrixEtraBold',sans-serif;
}
.hover-nam ul li {
    list-style: none;
    padding-top: 10px;
}
.hover-nam ul {
    font-weight: bold;
    color: white;
    font-size: 20px;
    font-family: 'GeometrixExtraBold',sans-serif;
}
.hover-nam a {
    font-size: 14px;
    font-weight: 200;
    color: white;
}
.dashed-hover-nam {
    border: 1px dashed gray;
    margin-top: 20px;
    margin-bottom: 20px;
}
.select1,.select2,.select3,.select4 {
    padding: 30px;
}
.hover-nam {
    position: absolute;
    display: flex;
    background-color: #4C4C4C;
    display: none;
    top:19%;
    left: 0;
    justify-content: space-around;
    width: 100vw;
}
.drop-down2:hover .hover-nam{
    display: flex;
}
/* Css cho contact */
.contact img {
    width:30px;
    height: auto;
}
.contact {
    position: absolute;
    right: 0;
    top: 50%;
    background-color: #4C4C4C;
    padding: 5px;
}