
.menu {
    display: flex;
    justify-content: end;
    background-color: #303030;
    padding-top: 7px;
    padding-bottom: 7px;
}
.menu a {
    color: white;
    font-size: 14px;
    font-family: 'NunitoSanRengular',sans-serif;
}
.menu1,.menu2,.menu3,.menu4 {
   margin-right: 25px;
   margin-left: 3px;
}
.menu5 {
    margin-right: 70px;
    margin-left: 3px;
}
.menu p:hover {
    color: orangered;
}
